<!-- Main interface -->

<select #initLang>
        <option *ngFor='let lang of langObj' value={{lang.langShort}}>{{lang.langLong}}</option>
</select>

<!--    "Input" field sends the value of "inputText" variable to the "prepareForTranslation" method
        through the button's "click" event -->
<input #inputText placeholder="Type the text you would like to translate">

<!--    "Select" drop-down menu sends the value of "targetLang" variable to the "prepareForTranslation" method
        through the button's "click" event -->
<select #targetLang>
        <option *ngFor='let lang of langObj' value={{lang.langShort}}>{{lang.langLong}}</option>
</select>

<!--    "Button" sends values from the "input" and "selector" by the "prepareForTranslation" method
        with the "click" event to the "translator" component class.
        It also hides the history after every translate by clearing the newArr array of ordered data
        gathered from the localStorage. -->
<button class="big-button"
        (click)="prepareForTranslation(initLang.value, inputText.value, targetLang.value); child.newArr = []">Translate
</button>

<!-- The data will directly to the history component -->
<app-history 
        [initLang]='initLang.value'
        [initText]='inputText.value'
        [targetLang]='targetLang.value'
        [targetText]='result.resultText'
        #child>
</app-history>